<div class="landing-page">
  <div class="wrapper">
    <div class="d-flex flex-column justify-content-center align-items-center text-center h-100">
      <h3 class="display-3 animated slideInDown">
        <i class="fas fa-briefcase"></i> Employee</h3>
      <p class="lead px-4 animated slideInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur assumenda consectetur, culpa cupiditate dolore dolores eveniet excepturi inventore itaque numquam optio, quaerat voluptas. Eius impedit nemo obcaecati? Quam, quas!</p>
    </div>
  </div>
</div>
